.background {
    z-index: 0;
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.forground {
    color: white;
    z-index: 1;
    position: relative;
}

.profile-photo {
    max-width: 20%;
    display: flex;
    border-radius: 200px;
    justify-content: center;
    border: 4px gray;
    border-style: solid;
    margin: auto; 
    z-index: 1;
}

h1, h2, p {
    display: flex;
    justify-content: center;
    margin: 100px;
    transition: all 1s ease-in-out;
}