.project-container-show {
    display: flex;
    flex-direction: column;
    background: rgb(39,39,39);
    margin: 0px 60px 30px 60px;
    opacity: 1;
    transition: all 1s ease;
    border-radius: 20px ;
    color: white;
    cursor: pointer;
}

.project-container-hide {
    display: flex;
    flex-direction: column;
    background: rgb(39,39,39);
    margin: 0px 60px 30px 60px;
    opacity: 0;
    transition: all 1s ease;
    border-radius: 20px ;
    color: white;
}


.project-container-show:hover {
    opacity: 0.5;
    transition: all 1s ease;
}

p {
    display: block;
    position: relative;
}

h1 {
    display: block;
    position: relative;
}
